<tr class="miniCartProduct">
    <td style="width:20%" class="miniCartProductThumb">
        <div><img src="<%= image_path(line_item.product.image_url) %> " alt="img"></div>
    </td>
    <td style="width:40%">
        <div class="miniCartDescription">
            <h4><%= line_item.product.title %></h4>
            <div class="price"><span> <%= number_to_currency(line_item.product.price) %> </span></div>
        </div>
    </td>
   <td style="width:10%" class="miniCartQuantity"><a> <%= line_item.quantity %> </a></td>
   <td style="width:20%" class="miniCartSubtotal"><span> <%= number_to_currency(line_item.total_price) %> </span></td>
</tr>
