<% @products.each do |product| %>
                      <% cache ['entry', product] do %>
                        <div class="item col-lg-3 col-md-3 col-sm-4 col-xs-6 entry">
                                    <div class="product">
                                        <div class="image">
                                            <div class="quickview">
                                                <a data-toggle="modal" class="btn btn-xs btn-quickview" onclick = "window.location='<%= url_for(product) %>'"
                                                   data-target="#productSetailsModalAjax">Quick View </a>
                                            </div>
                                            <a href="<%= url_for(product) %>"><img src="<%= image_path(product.image_url) %>" alt="img"
                                                                                class="img-responsive"></a>
                                            </div>
                                        <div class="description">
                                            <h4><%= link_to product.title,product %></h4>
                                            <%= link_to 'Show', product %><br/>
                                            <p><%= truncate(product.description) %></p>
                                        </div>
                                        <div class="price"><span><%= number_to_currency(product.price) %></span></div>
                                        <div class="action-control">
                                        <%= button_to 'Add to cart', add_to_path(product_id: product),
                                          remote: true , :class => "btn btn-primary"%>
                                        </div>
                                    </div>
                        </div>
                      <% end %>
                    <% end %>